@import "../../styles/index.scss";

@font-face {
  font-family: 'studiofeixen-variable';
  src: url('../../../public/assets/fonts/studio-feixen-sans-variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.custom-text {
  font-family: 'studiofeixen-variable','studiofeixen', sans-serif;
  font-size: 72px;
  fill: #ffffff;
}
