@import '../../styles/index.scss';

.icons {
  display: flex;
  gap: 1rem;
  font-size: 28px;
  width: 57%;
  justify-content: center;
}

@media screen and (max-width: 700px){
  .icons {
    width: 100%;
  }
}
